html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
// Navigation
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: black;
  color: white;
  p {
    font-size: 1.4rem;
    margin: 0.8rem 0;
  }
  ul {
    list-style-type: none;
    li {
      font-size: 0.8rem;
      display: inline;
      text-transform: uppercase;
      padding-left: 1rem;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
// Header
header {
  height: 90vh;
  .header-background {
    z-index: 1;
    height: 100%;
    width: 100%;
    // background-image: url(./images/background.jpg);
    background-position: center;
    background-size: contain;
    margin-top: 0.5rem;
    /* blur */
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  .header-text {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
}
// About
.about {
  height: 110vh;
  margin: 0rem 2rem;
  .about-left {
    img {
      display: flex;
      justify-content: center;
      height: 70%;
      width: 100%;
    }
  }
  .about-right {
    line-height: 1.4rem;
    // overflow: hidden;
    h1 {
      text-transform: capitalize;
    }
  }
}
// Peoficiency
.proficiency {
  margin: 0rem 2rem;
  margin-top: 12rem;
  .proficiency-header {
    text-align: left;
    text-transform: capitalize;
    font-size: 1.5rem;
  }
  h2 {
    margin: 1rem 0;
  }
  .categories {
    display: flex;
    justify-content: space-between;
    h3 {
      text-transform: capitalize;
      text-align: left;
    }
    ul {
      list-style-type: disc;
      padding-left: 0;
      li {
        display: block;
        padding: 1rem 0 1rem 0;
      }
    }
  }
}
// Contact
.contact {
  height: 50vh;
  margin: 0rem 2rem 0 2rem;
  .contact-header {
    margin-bottom: 1rem;
    margin-top: 5rem;
    justify-content: space-around;
    display: flex;
    p {
      font-size: 1.5rem;
      margin: 0;
    }
  }
  .socialmedia-icons {
    h5 {
      margin: 0;
    }
    a {
      text-decoration: none;
    }
  }
  .contact-content {
    height: 50vh;
    margin: 0rem 2rem;
    text-align: center;
    // border: black 1px solid;
    p {
      font-size: 1.3rem;
    }
  }
  .form-container {
    margin: 0 auto;
    width: 100%;
    clear: both;
    form {
      label {
        float: left;
      }
      input {
        border: black solid 1px;
        border-radius: 8px;
        height: 1.5rem;
        margin: 0 0 0.8rem 0;
        // padding: 0 0.5rem 0 0.5rem;

        width: 100%;
        clear: both;
      }
      textarea {
        border: black solid 1px;
        border-radius: 8px;
        margin-bottom: 0.8rem;
        width: 100%;
        clear: both;
      }
    }
  }
}
// Footer
footer {
  margin-top: 10rem;
  height: 4.8vh;
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  .footer-copyright {
    padding-top: 0.5rem;
    text-align: center;
  }
  .socialmedia-icons {
    i {
      color: white;
    }
  }
}

// Icons
.socialmedia-icons {
  a {
    font-size: 1rem;
    color: black;
  }
}

// Buttons
button {
  border: black solid 1px;
  background-color: white;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
}
.anchor-btn {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  color: black;
}
/* Media queries */
/* Desktop */
@media only screen and (min-width: 992px) {
  nav {
    p {
      font-size: 1.7rem;
    }
    ul {
      li {
        font-size: 1rem;
      }
    }
  }
  header {
    .header-background {
      background-image: url(./images/background.jpg);
      background-size: cover;
    }
    .header-text {
      font-size: 3rem;
    }
  }
  .about {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 2rem;
    margin: 5rem 10rem 0 10rem;
    .about-right {
      line-height: 2rem;
    }
  }
  .proficiency {
    margin: 0rem 10rem 0 10rem;
  }
  .contact {
    height: 50vh;
    margin: 5rem 10rem 0 10rem;
    .contact-header {
      margin-bottom: 1rem;
      justify-content: center;
      display: flex;
      p {
        padding-right: 1rem;
        font-size: 2rem;
        margin: 0;
      }
    }
    .socialmedia-icons {
      h5 {
        margin: 0;
      }
      a {
        text-decoration: none;
      }
    }
    .contact-content {
      height: 40vh;
      margin: 0 17rem;
      text-align: center;
      border: black 1px solid;
      p {
        font-size: 1.3rem;
      }
    }
    .form-container {
      width: 500px;
    }
  }
  footer {
    justify-content: center;
    .footer-copyright {
      padding-right: 1rem;
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .about {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}
